*{

}
button{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: skyblue;
    cursor: pointer;
    color: white;
}
button:hover{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: orange;
}